/** =================== OPEN SANS =================== **/

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/OpenSans-Light.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/OpenSans-LightItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/OpenSans-Semibold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/OpenSans-SemiboldItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/OpenSans-ExtraBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("ttf");
  font-display: swap;
}

/** =================== MULI =================== **/

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Muli-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Muli-Light.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/Muli-LightItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/Muli-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Muli-SemiBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/Muli-Semi-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Muli-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/Muli-BoldItalic.ttf") format("ttf");
  font-display: swap;
}

/** =================== MATERIAL ICONS =================== **/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MaterialIcons.otf");
  font-display: swap;
}
