// Neutrals
$neutral-900: #1f2730;
$neutral-800: #28313b;
$neutral-700: #2d3845;
$neutral-600: #3f4e5f;
$neutral-500: #626b77;
$neutral-400: #88919b;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #f6f9fb;
$neutral-0: #ffffff;

// Violets
$violet-400: #967adc;
$violet-300: #a992e2;
$violet-200: #ac92ec;
$violet-100: #bcaae9;
$violet-75: #eae1ff;
$violet-25: #faf8ff;

// Blues
$blue-400: #3bafda;
$blue-300: #55b9df;
$blue-200: #4fc1e9;
$blue-100: #6ec4e4;
$blue-75: #dbf2ff;
$blue-50: #c4ebff;
$blue-25: #e4f6ff;
$blue-0: #f0faff;

// Reds
$red-400: #da4453;
$red-300: #df5e6a;
$red-200: #ed5565;
$red-100: #e47782;

// Greens
$green-400: #37bc9b;
$green-300: #48c9a9;
$green-200: #48cfad;
$green-100: #60d0b4;

// Yellows
$yellow-400: #f6bb42;
$yellow-300: #f7c55f;
$yellow-200: #ffce54;
$yellow-100: #f9d07c;
$yellow-75: #ffffeb;

// Pinks
$pink-75: #ffe2f7;

// Borders
$border-300: #cfcfcf;
$border-200: #f3f3f3;
$border-100: #f5f5f5;

$shadow-normal: rgba(136, 153, 166, 0.2) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;
$shadow-raised: rgba(136, 153, 166, 0.25) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;
